.news-container{
    height: min-content;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 15% 70% 15%;
}

.header{
    grid-column: 1/4;
    grid-row: 1/2;
}

.news-main{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: green;
}